.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.slideshowsection {
  height: 70vh;
  min-height: auto;
  background-color: #c03838;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.slide-nav {
  background-color: transparent;
}

.sliderimg1 {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.12)),
      to(rgba(0, 0, 0, 0.12))
    ),
    url('../images/slide1.jpg');
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.12),
      rgba(0, 0, 0, 0.12)
    ),
    url('../images/slide1.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.sliderimg2 {
  background-image: url('../images/slide222.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.sliderimg3 {
  background-image: url('../images/slide33.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.homecategorygrid {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.homescreen_category_column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  border-radius: 20px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.38)),
      to(rgba(0, 0, 0, 0.38))
    ),
    url('../images/lappp.png');
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.38),
      rgba(0, 0, 0, 0.38)
    ),
    url('../images/lappp.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  box-shadow: 7px 7px 17px -7px #000;
  opacity: 1;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.homescreen_category_column:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.homescreen_category_column.category1 {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.38)),
      to(rgba(0, 0, 0, 0.38))
    ),
    url('../images/sale.png');
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.38),
      rgba(0, 0, 0, 0.38)
    ),
    url('../images/sale.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.homescreen_category_column.category2 {
  background-image: url('../images/phoness.png'),
    -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.38)), to(rgba(0, 0, 0, 0.38)));
  background-image: url('../images/happy3.png'),
    linear-gradient(180deg, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38));
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.homescreen_category_column.categiry3 {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.38)),
      to(rgba(0, 0, 0, 0.38))
    ),
    url('../images/autoparts.png');
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.38),
      rgba(0, 0, 0, 0.38)
    ),
    url('../images/autoparts.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
}

.homescreen_category_column.category4 {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.38)),
      to(rgba(0, 0, 0, 0.38))
    ),
    url('../images/phoness.png');
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.38),
      rgba(0, 0, 0, 0.38)
    ),
    url('../images/phoness.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.homescreen_category_column.category5 {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.38)),
      to(rgba(0, 0, 0, 0.38))
    ),
    url('../images/homeappliances.png');
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.38),
      rgba(0, 0, 0, 0.38)
    ),
    url('../images/homeappliances.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.homescreen_category_column.category6 {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.38)),
      to(rgba(0, 0, 0, 0.38))
    ),
    url('../images/hotsales.png');
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.38),
      rgba(0, 0, 0, 0.38)
    ),
    url('../images/hotsales.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.home_category_title {
  color: #fff1f1;
}

.home_category_button {
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.home_category_button:hover {
  background-color: #a79116;
}

.home_product_list_grid_section {
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.home_product_list_grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.home_product_list_item_wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.product_desc {
  padding: 6px;
  text-align: left;
}

.new_product_tag {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 100px;
  height: 25px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #722c09;
  color: #dfcfcf;
  text-align: center;
}

.product_img {
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.product_img:hover {
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
  -webkit-transform: translate(0px, -24px);
  -ms-transform: translate(0px, -24px);
  transform: translate(0px, -24px);
}

.product_title {
  margin-top: 10px;
}

.product_price {
  margin-top: 10px;
  color: #997710;
  font-size: 25px;
}

.product_heading {
  text-align: center;
}

.home_screen_big_grid {
  height: 40em;
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #000000;
}

.homescreen_big_img_column {
  background-image: url('../images/shoe.png');
  background-position: 50% 50%;
  background-size: cover;
}

.homescreen_big_image_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.homescreen_fixed_bg {
  height: 30em;
  background-image: url('../images/fixed.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.money_back_grid {
  height: 30em;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #0f0f07;
}

.money_back_text_column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/w.png');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  cursor: pointer;
}

.money_back_text_column:hover {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}

.money_back_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: url('../images/money.png');
  background-position: 50% 50%;
  background-size: cover;
}

.heading-2 {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  color: #c7ddd8;
  text-align: center;
}

.big_img_text {
  color: #dadada;
  font-size: 90px;
}

.big_img_desc {
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  color: #e2cfcf;
  font-size: 20px;
}

.big_img_button {
  width: 30%;
  margin-top: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #618522;
  border-radius: 20px;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #ebcccc;
  font-size: 30px;
  text-align: center;
}

.big_img_button:hover {
  background-color: #a58b18;
  -webkit-transform: translate(0px, 0px) translate(0px, 0px);
  -ms-transform: translate(0px, 0px) translate(0px, 0px);
  transform: translate(0px, 0px) translate(0px, 0px);
}

.free_shipping_section {
  min-height: 20em;
  background-color: transparent;
  color: #360808;
}

.free_shipping_grid {
  grid-column-gap: 0px;
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.free_shipping_second_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.free_shipping_img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.free_shipping_paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  color: #ece0e0;
  font-size: 18px;
  text-align: center;
}

.free_shipping_heading {
  margin-top: 0px;
  color: #ddd6d6;
  font-size: 4em;
}

.graph_section {
  min-height: 100vh;
  background-color: transparent;
}

.graph_grid {
  height: 100%;
  min-height: 50vh;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.graph_div1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.graph_div2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-3 {
  text-align: center;
}

.shippingdetails {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.shippingdetailsdiv {
  background-color: rgba(41, 15, 15, 0);
}

.heading-4 {
  text-align: center;
}

.heading-5 {
  text-align: center;
}

.paragraph {
  margin-left: 10px;
  padding-right: 10px;
}

.paragraph-2 {
  margin-left: 10px;
  padding-right: 10px;
}

.menuitemscontainer {
  min-width: 90%;
}

.image {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mainnavbarcontainer {
  background-color: #fff;
}

.navlinkitem {
  background-color: #fff;
}

.text-block {
  margin-top: -19px;
}

.icon {
  margin-top: 10px;
}

.maincategorydropdownitem {
  background-color: #fff;
}

.subcategorydropdownitem {
  background-color: #fff;
}

.navmenucontainer {
  background-color: #fff;
}

.subcategorydropdiwn {
  padding-top: 27px;
  background-color: #fff;
}

.dropdown-link {
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .homecategorygrid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .home_product_list_grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .heading-2 {
    color: #e3e9e7;
    font-size: 20px;
    line-height: 20px;
  }

  .big_img_text {
    font-size: 60px;
  }

  .big_img_desc {
    padding-right: 5px;
    padding-left: 5px;
    color: #f1e2e2;
  }

  .big_img_button {
    width: 80%;
  }

  .free_shipping_grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .free_shipping_second_div {
    margin-top: 0px;
  }

  .free_shipping_paragraph {
    text-align: center;
  }

  .graph_grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .menuitemscontainer {
    background-color: #fff;
  }

  .mainnavbarcontainer {
    background-color: #fff;
  }

  .navlinkitem {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition-property: none;
    transition-property: none;
  }

  .text-block {
    margin-top: -3px;
  }

  .maincategorydropdownitem {
    background-color: #fff;
  }

  .navmenucontainer {
    background-color: #fff;
  }

  .munu.menubutton.w--open {
    background-color: #fff;
  }

  .icon-2 {
    color: #0f0e0e;
  }

  .subcategorydropdiwn {
    background-color: #fafafa;
  }

  .subcategorydropdowncontainer {
    background-color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .slideshowsection {
    min-height: auto;
  }

  .homecategorygrid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .home_product_list_grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .big_img_desc {
    font-size: 15px;
  }

  .navlinkitem {
    background-color: #fff;
  }

  .dropdowntoggle {
    background-color: #fff;
  }
}

@media screen and (max-width: 479px) {
  .slideshowsection {
    height: 40vh;
  }

  .homecategorygrid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .home_product_list_grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .home_screen_big_grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .money_back_grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .money_back_img {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .heading-2 {
    margin-top: 10px;
    color: #76948c;
    font-size: 15px;
  }

  .big_img_desc {
    padding-left: 10px;
  }

  .free_shipping_paragraph {
    font-size: 16px;
  }

  .free_shipping_heading {
    font-size: 3em;
  }

  .icon {
    margin-top: 20px;
    margin-bottom: 3px;
  }

  .navmenucontainer {
    background-color: transparent;
  }

  .munu.menubutton.w--open {
    background-color: #fff;
  }
}

#w-node-fd6f59dd2b73-6ce95aa1 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}
