.navbarcontainer {
  background-color: #912020;
}

.navlinkitem {
  color: #f5e9e9;
  font-size: 1em;
}

@media screen and (max-width: 991px) {
  .hamburicon {
    color: #e7dddd;
  }

  .navbar {
    background-color: #914242;
  }
}
